body {
  background-color: black;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}

a {
  color: rgb(185, 0, 185);
}

a:hover {
  color: silver;
}

header {
  box-shadow: 0 0 15px 5px purple;
}

footer {
  box-shadow: 0 0 15px 5px purple;
}

img {
  border: 5px solid purple;
}